body {
    font-family: "Rubik", sans-serif;
    background-color: #1f1f21;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signin-container {
    background: #ffffff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h1 {
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333333;
}

input,
button {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 14px;
    color: #333333;
}

input:focus {
    border-color: #6c63ff;
    outline: none;
    box-shadow: 0 0 5px rgba(108, 99, 255, 0.5);
}

button {
    background-color: #ffae00;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ffae00;
}

p {
    text-align: center;
    color: #555555;
}

p a {
    color: #ffae00;
    text-decoration: none;
    font-weight: bold;
}

p a:hover {
    text-decoration: underline;
}