<main>
	<section class="home">
		<div class="slideshow">
			<div class="slide" style="background-image: url('/img/img-1.jpg');"></div>
			<div class="slide" style="background-image: url('/img/img-4.jpg');"></div>
			<div class="slide" style="background-image: url('/img/img-5.jpg');"></div>
		</div>
		<div class="home-text">
			<span>Run Tracker</span>
			<h1>TrackFusion</h1>
			<p>
				Your ultimate run tracker! Monitor your progress, set goals, and stay
				motivated as you conquer your running journey. Simple, smart, and
				designed for you.
			</p>
			<div class="main-btn">
				<a href="/user/signin" class="btn">Register Now!</a>
			</div>
		</div>
	</section>
</main>